<% form({ method: :post },{ obj: @parameters }) do |f| %>
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <%= f.input(:title, type: :text, label: 'Название книги', placeholder: 'Путь Ruby')%>
    </div>
    <div class="large-12 cell">
      <%= f.input(:author, type: :text, label: 'Автор', placeholder: 'Фултон Хел')%>
    </div>
    <div class="large-12 cell">
      <%= f.button(value: form_type, class: 'button') %>
      <a href="<%= back_location %>" class="button secondary">Отмена</a>
    </div>
  </div>
<% end %>
